<!DOCTYPE html>
<html>
<head>
    <title>{{ gym }} occupancy by hour</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='hourly.css') }}">
</head>
<body>
    <header>
        <div class="header">
            <h1>
                {% if gym == "Wooden" %}
                    John Wooden Center
                {% elif gym == "BFit" %}
                    Bruin Fitness Center
                {% endif %}
              </h1>
            <div class="header-right">
                <a href="/">Home</a>
                <a href="/wooden" class="{% if gym == 'Wooden' %}active{% endif %}">Wooden</a>
                <a href="/bfit" class="{% if gym == 'BFit' %}active{% endif %}">BFit</a>
            </div>
        </div>
    </header>
</body>
</html>
